<div class="flex items-center flex-col">
  <div class="flex w-[70%] m-5">
    <div class="max-w-[40%]">
      <img [src]="featuredProduct.image" />
    </div>
    <div class="max-w-[60%] flex ml-10 flex-col justify-center">
      <div class="w-[100px] rounded-full text-white text-center bg-orange-500">
        {{ featuredProduct.tag }}
      </div>
      <p class="text-5xl">{{ featuredProduct.title }}</p>
      <br />
      <p>
        {{ featuredProduct.author }} - {{ featuredProduct.date }} -
        {{ featuredProduct.duration }} min. read
      </p>
      <p></p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-2 justify-items-center w-[70%]">
    <div
      *ngFor="let product of products; let i = index"
      class="min-h-[400px] relative"
      (mouseenter)="onMouseEnter(i)"
    >
      <div
        class="
          flex
          justify-center
          items-center
          absolute
          h-[220px]
          w-full
          bg-black
          opacity-75
          text-white
        "
        *ngIf="productHover === i"
      >
        <button
          (click)="setFeaturedProduct(i)"
          class="
            rounded-full
            text-center
            bg-green-900
            text-white
            w-[100px]
            h-[30px]
            opacity-100
          "
        >
          View
        </button>
        <button
          class="
            rounded-full
            text-center
            bg-red-900
            text-white
            w-[100px]
            h-[30px]
            opacity-100
          "
        >
          Remove
        </button>
      </div>
      <div>
        <img [src]="product.image" height="200px" />

        <div class="flexflex-col justify-center">
          <div
            class="
              w-[100px]
              my-3
              rounded-full
              text-white text-center
              bg-orange-500
            "
          >
            {{ product.tag }}
          </div>
          <p class="text-2xl">{{ product.title }}</p>
          <p>{{ product.description }}</p>
          <br />
          <p>
            {{ product.author }} - {{ product.date }} -
            {{ product.duration }} min. read
          </p>
        </div>
      </div>
      <ng-template #elseBlock
        >Content to render when condition is false.</ng-template
      >
    </div>
  </div>
</div>
